<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <div align="right"><a href="/logout"><button>Logout</button></a></div>
    <div class="heading"><center><h1>MailBlock<br>Decentralized communication platform</h1></center></div>
    <hr>
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} -->
    {% block content %}{% endblock %}
  </body>
</html>